@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';

@theme {
  --font-display: 'Fira Code', monospace;
  --default-font-family: var(--font-display);

  --color-spades: rgb(143, 177, 184);
  --color-hearts: rgb(248, 59, 47);
  --color-clubs: rgb(0, 156, 253);
  --color-diamonds: rgb(255, 163, 0);
}

body {
  font-size: 16px;
}
